[submodule "resources/vendor/in-view"]
	path = resources/vendor/in-view
	url = https://github.com/camwiegert/in-view
[submodule "resources/vendor/bootstrap"]
	path = resources/vendor/bootstrap
	url = https://github.com/twbs/bootstrap
