#hero {
  // background-color: $hero-bg;
  // color: $hero-text-color;
  // z-index: 50; // place above other sections so sticky elements don't get overlapped

  a {
    //color: $hero-link-color;
  }

}

.hero-slide {
  // padding-top: $hero-padding-top;
}

.hero-slide {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  padding-top: 0;

  &.full-height {

    .section-wrap {
      align-self: center;
    }
  }
}

#hero-slider {
  position: relative;
  height: 100%;


}

.hero-menu {
  margin: 0 0 20px 0;
  padding: 0;
  background-color: transparentize($black, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  list-style: none;
  font-size: 1.4em;

  h6 {
    color: $hero-accent;
    @include all-caps;
  }

  ul,
  .sub-menu {
    margin: 0;
    padding-left: 20px;
    list-style: none;
    font-size: 1em;
  }

  li {
    margin: 8px 0;
  }

  a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid transparentize($white, 0.8);
  }

  p {
    margin-bottom: 10px;
    font-size: 1.6em;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #hero .hero-menu {
    background-color: transparent;
  }
}

//
// BLOCKS
//

#hero {
  .social-widget-wrap {
    display: inline-block;
    font-size: 1.4em;
  }
}
