// ADJUSTMENTS

// subtract the container's bottom margin from the padding of the section

// $section-padding-bottom: $section-padding-top - $container-margin-bottom !default;

//
// MAIN
//

main {
  position: relative;
  z-index: 3;
}

//
// SECTION
//

.fw-section {
  position: relative;
}

.fw-page-section {

  // alternating sections

  &:nth-of-type(even) {
    background-color: $section-bg-alt;
  }

  // subsections

  .subsection {
    padding: 80px 0;

    &:first-of-type {
      padding-top: 0;
    }

    &:nth-of-type(even) {
      background-color: $light;
    }
  }

  &.has-head {
    .subsection {
      &:first-of-type {
        padding-top: 80px;
      }
    }
  }

  &.has-subsections {
    .section-container {
      padding-bottom: 0;
    }
  }

	&.has-bg {
		.section-wrap {
			position: relative;
			z-index: $bg-z-index + 1;
		}
	}
}

.first-section {
  transition: padding 0.4s;
}

.header-position-default,
.header-position-sticky {
  .first-section {
    .section-wrap {
      padding-top: 0;
    }
  }
}

//
// CONTAINERS
//

.fw-container {
  position: relative;

  &.has-max-width {
    max-width: $container-max-width;
  }

	&.full-size {
		position: absolute;
	}
}

@if ( $grid-gutter-width == 0 or $grid-gutter-width == 0px ) {

  .fw-container {
    &.has-max-width {
      padding-left: 15px;
      padding-right: 15px;

      .row {
        margin-left: -15px;
        margin-right: -15px;
      }

      .fw-block {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

}

.fw-page-section {
  .fw-container {
    z-index: 2; // always position above .bg
  }
}

.fw-container-row {
  position: relative;
  z-index: 2;
}

//
// COLUMNS
//

.fw-column {
	&.has-bg {
		.fw-block {
			z-index: $bg-z-index + 1;
		}
	}
}

//
// BLOCKS
//

.fw-block {
  position: relative;
}

//
// PAGE STATES
//

body {
  &.has-alert {
    #main-header {
      position: absolute;
      transition: top 0.4s;
    }

    &.alert-closing {
      #main-header {
        top: 0;
      }
    }

    &.alert-closed {
      #main-header {
        position: fixed;
      }
    }
  }
}
