//
// GLOBAL VARIABLES
//

$all-grid-breakpoints: 'sm', 'md', 'lg', 'xl';
$all-grid-breakpoint-sizes: 576, 768, 992, 1200;

//
// BOOTSTRAP
//

@import 'bootstrap/setup';
@import 'bootstrap/extensions';

//
// CHILD THEME OVERRIDES
//

// @import '../../../fw-child/resources/scss/setup';

//
// HELPERS
//

@import 'helpers/mixins';
@import 'helpers/tags';

// classes

$full-height-height: 100vh !default;

$bg-z-index: 1 !default;

@import 'helpers/classes';

//
// TEMPLATE
//

// HEADER
// template/_header.scss

$header-height: auto !default;
$header-font-size: 0.875rem !default;

$header-dropdown-bg: $white !default;

$admin-bar-height: 32px !default;

$alert-height: auto !default;
$alert-bg: $danger !default;
$alert-text-color: $white !default;
$alert-link-color: $alert-text-color !default;
$alert-close-color: $alert-link-color !default;
$alert-z-index: 1030 !default;

$filter-height: auto !default;

@import 'template/header';

// FOOTER
// template/_footer.scss

$footer-padding-top: 80px !default;
$footer-padding-bottom: 0 !default;
$footer-section-padding-top: 0 !default;
$footer-section-padding-bottom: 40px !default;
$footer-block-margin-bottom: 20px !default;
$footer-z-index: 2 !default;

@import 'template/footer';

//
// STRUCTURE
//

$section-bg-alt: $light !default;

// containers

$container-max-width: 1200px !default;

@import 'structure';

//
// BLOCKS
//

@import 'blocks/animation';
@import 'blocks/menu';
@import 'blocks/heading';
@import 'blocks/text';
@import 'blocks/image';
@import 'blocks/video';
@import 'blocks/jumbotron';
@import 'blocks/carousel';
@import 'blocks/big-list';
@import 'blocks/query';
@import 'blocks/post-grid';
@import 'blocks/post-carousel';
@import 'blocks/terms';
@import 'blocks/tabs';

//
// LAYOUTS
//

@import 'layouts/home';
@import 'layouts/archive';
@import 'layouts/chapter';

//
// VENDOR
//

@import 'vendor';

//
// COMPONENTS
//

@import 'components';
