@import url(../../vendor/font-awesome-pro/css/all.css);
/*
//
//
// FIELD TYPES
//
//

//
// ACCORDION
//

.acf-field {

  // LEVEL 1

  // backgrounds

  &.acf-field-5d09415a9a111,
  &.acf-field-5d07e11aa7460,
  &.acf-field-5d07e123a7461,
  &.acf-field-5d1254bbcafff,
  &.acf-field-5d1261ff9b49f,
  &.acf-field-5d30b5918357d,
  &.acf-field-5d30b6a0f3913,
  &.acf-field-5d30bcdb160ba,
  &.acf-field-5d30bce4160bb {
    background-color: $level-1-bg;

    & > .acf-accordion-content {
      background-color: $level-1-bg;
    }
  }

  // fonts

  &.acf-field-5d07e11aa7460 > .acf-accordion-title,
  &.acf-field-5d1254bbcafff > .acf-accordion-title {
    label {
      font-size: $level-1-accordion-font-size;
    }
  }

  // LEVEL 2

  // backgrounds

  &.acf-field-5d0b96415efd8,
  &.acf-field-5d07dcf472108,
  &.acf-field-5d07dd0c72109,
  &.acf-field-5d30bcdb160ba .acf-field-5d30b5918357d,
  &.acf-field-5d30bcdb160ba .acf-field-5d30b6a0f3913 {
    background-color: $level-2-bg;

    & > .acf-accordion-content {
      background-color: $level-2-bg;
    }
  }

  // fonts

  &.acf-field-5d07dcf472108 > .acf-accordion-title {
    label {
      font-size: $level-2-accordion-font-size;
    }
  }

  // 'SETTINGS' ACCORDION

  &.acf-field-5d07e123a7461,
  &.acf-field-5d07dd0c72109,
  &.acf-field-5d1261ff9b49f,
  &.acf-field-5d30b6a0f3913,
  &.acf-field-5d30bce4160bb,
  &.acf-field-5d07efc7ab7cb,
  &.acf-field-5d408d09fa1c1,
  &.acf-field-5db9bf6bd9724,
  &.acf-field-5dc19e4dbe054,
  &.acf-field-5dc19e62be055,
  &.acf-field-5dc1e431e1aa6,
  &.acf-field-5dc1e63338ffc {
    & > .acf-accordion-title {
      label {
        font-size: 12px;
        font-weight: normal;
        color: #999;

        &:before {
          content: '\f013';
          display: inline-block;
          margin-right: 10px;
          font-family: "Font Awesome 5 Pro";
        }
      }
    }

    &.-open {
      & > .acf-accordion-title {
        label {
          color: #666;

          &:before {
            content: '\f00d';
          }
        }
      }
    }

    & > .acf-accordion-content {
      box-shadow: inset 0 7px 7px -5px transparentize(#000, 0.8);
    }
  }

  &.setting-field {
    background-color: $level-1-bg;
  }

  // 'LAYOUT' ACCORDION

  &.acf-field-5d5d86c89dcd8,
  &.acf-field-5d641d185eb99,
  &.acf-field-5dc1a2aaa2a50 {
    & > .acf-accordion-title {
      background-color: $level-3-bg;

      label {
        font-size: 12px;
        font-weight: normal;
        color: #999;

        &:before {
          content: '\f0db';
          display: inline-block;
          margin-right: 10px;
          font-family: "Font Awesome 5 Pro";
        }
      }
    }

    &.-open {
      & > .acf-accordion-title {
        label {
          color: #666;

          &:before {
            content: '\f00d';
          }
        }
      }
    }
  }

}

//
// FLEX
//

//
//
// PAGE CONTENT FIELDS
//
//

.acf-field {


  //
  // START/END MESSAGES
  //

  // common

  &.acf-field-5d09415a9a111,
  &.acf-field-5d0b96415efd8,
  &.acf-field-5d3f496616d02,
  &.acf-field-5d3f4b035a813 {

    .acf-label {
      margin-bottom: 0;

      label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #aaa;

        &:before {
          content: '#';
          font-weight: normal;
          opacity: 0.5;
          margin-right: 5px;
        }

        &:after {
          content: '';
          display: block;
          flex-grow: 1;
          width: 20px;
          height: 1px;
          margin-left: 10px;
          background-color: #aaa;
          opacity: 0.5;
        }
      }
    }
  }

  // section

  &.acf-field-5d09415a9a111 {
  }

  // hero templates

  // container message

  &.acf-field-5d3f4b035a813 {
    background-color: $level-1-bg;
  }

  // hero template

  &.acf-field-5d3f496616d02 {
    background-color: #f9f9f9;
  }

  //
  // LABELS
  //

  &.acf-field-5d07dcec72107 {
    & > .acf-label {
      display: none;
    }
  }

  //
  // BUTTONS
  //

  &.acf-field-5d07dbff09f53 {
    & > .acf-input {
      & > .acf-repeater {
        & > .acf-actions {
          .button {
            font-size: 17px;
            line-height: 32px;
            height: 34px;
          }
        }
      }
    }
  }



}

//
//
// OPTIONS PAGES
//
//


//




//
//
// EDIT TAXONOMY SCREEN
//
//

.taxonomy-campaign {
  #edittag {
    max-width: 9999px;
  }
}



//
//
//
//
//


*/
.acf-field.section-settings-accordion > .acf-accordion-title label, .acf-field.container-settings-accordion > .acf-accordion-title label, .acf-field.column-settings-accordion > .acf-accordion-title label, .acf-field.block-settings-accordion > .acf-accordion-title label, .acf-field.acf-field-5dc19e4dbe054 > .acf-accordion-title label, .acf-field.acf-field-5dc19e62be055 > .acf-accordion-title label, .acf-field.acf-field-5dc5b174572e8 > .acf-accordion-title label, .acf-field.acf-field-5dc1e431e1aa6 > .acf-accordion-title label, .acf-field.acf-field-5dc31ad69ca7f > .acf-accordion-title label, .acf-field.acf-field-5dc442ad42103 > .acf-accordion-title label {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.acf-field.section-settings-accordion > .acf-accordion-title label:before, .acf-field.container-settings-accordion > .acf-accordion-title label:before, .acf-field.column-settings-accordion > .acf-accordion-title label:before, .acf-field.block-settings-accordion > .acf-accordion-title label:before, .acf-field.acf-field-5dc19e4dbe054 > .acf-accordion-title label:before, .acf-field.acf-field-5dc19e62be055 > .acf-accordion-title label:before, .acf-field.acf-field-5dc5b174572e8 > .acf-accordion-title label:before, .acf-field.acf-field-5dc1e431e1aa6 > .acf-accordion-title label:before, .acf-field.acf-field-5dc31ad69ca7f > .acf-accordion-title label:before, .acf-field.acf-field-5dc442ad42103 > .acf-accordion-title label:before {
  content: "\f013";
  display: inline-block;
  margin-right: 10px;
  font-family: "Font Awesome 5 Pro";
}
.acf-field.section-settings-accordion.-open > .acf-accordion-title label, .acf-field.container-settings-accordion.-open > .acf-accordion-title label, .acf-field.column-settings-accordion.-open > .acf-accordion-title label, .acf-field.block-settings-accordion.-open > .acf-accordion-title label, .acf-field.acf-field-5dc19e4dbe054.-open > .acf-accordion-title label, .acf-field.acf-field-5dc19e62be055.-open > .acf-accordion-title label, .acf-field.acf-field-5dc5b174572e8.-open > .acf-accordion-title label, .acf-field.acf-field-5dc1e431e1aa6.-open > .acf-accordion-title label, .acf-field.acf-field-5dc31ad69ca7f.-open > .acf-accordion-title label, .acf-field.acf-field-5dc442ad42103.-open > .acf-accordion-title label {
  color: #666;
}
.acf-field.section-settings-accordion.-open > .acf-accordion-title label:before, .acf-field.container-settings-accordion.-open > .acf-accordion-title label:before, .acf-field.column-settings-accordion.-open > .acf-accordion-title label:before, .acf-field.block-settings-accordion.-open > .acf-accordion-title label:before, .acf-field.acf-field-5dc19e4dbe054.-open > .acf-accordion-title label:before, .acf-field.acf-field-5dc19e62be055.-open > .acf-accordion-title label:before, .acf-field.acf-field-5dc5b174572e8.-open > .acf-accordion-title label:before, .acf-field.acf-field-5dc1e431e1aa6.-open > .acf-accordion-title label:before, .acf-field.acf-field-5dc31ad69ca7f.-open > .acf-accordion-title label:before, .acf-field.acf-field-5dc442ad42103.-open > .acf-accordion-title label:before {
  content: "\f00d";
}
.acf-field.setting-field {
  background-color: #ddd;
}

.acf-field.section-settings-accordion > .acf-accordion-content, .acf-field.container-settings-accordion > .acf-accordion-content, .acf-field.column-breakpoints-accordion > .acf-accordion-content, .acf-field.column-settings-accordion > .acf-accordion-content, .acf-field.block-settings-accordion > .acf-accordion-content, .acf-field.acf-field-5dc19e4dbe054 > .acf-accordion-content, .acf-field.acf-field-5dc19e62be055 > .acf-accordion-content, .acf-field.acf-field-5dc5b174572e8 > .acf-accordion-content, .acf-field.acf-field-5dc1e431e1aa6 > .acf-accordion-content, .acf-field.acf-field-5dc31ad69ca7f > .acf-accordion-content, .acf-field.acf-field-5dc442ad42103 > .acf-accordion-content, .acf-field.acf-field-5dc1a2aaa2a50 > .acf-accordion-content {
  box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.2);
}

.acf-field.column-breakpoints-accordion > .acf-accordion-title, .acf-field.acf-field-5dc1a2aaa2a50 > .acf-accordion-title {
  background-color: #ececec;
}
.acf-field.column-breakpoints-accordion > .acf-accordion-title label, .acf-field.acf-field-5dc1a2aaa2a50 > .acf-accordion-title label {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.acf-field.column-breakpoints-accordion > .acf-accordion-title label:before, .acf-field.acf-field-5dc1a2aaa2a50 > .acf-accordion-title label:before {
  content: "\f0db";
  display: inline-block;
  margin-right: 10px;
  font-family: "Font Awesome 5 Pro";
}
.acf-field.column-breakpoints-accordion.-open > .acf-accordion-title label, .acf-field.acf-field-5dc1a2aaa2a50.-open > .acf-accordion-title label {
  color: #666;
}
.acf-field.column-breakpoints-accordion.-open > .acf-accordion-title label:before, .acf-field.acf-field-5dc1a2aaa2a50.-open > .acf-accordion-title label:before {
  content: "\f00d";
}
.acf-field.section-settings-accordion > .acf-accordion-title {
  background-color: #ddd;
}
.acf-field.section-settings-accordion > .acf-accordion-content {
  background-color: #d5d5d5;
}
.acf-field.container-settings-accordion > .acf-accordion-title {
  background-color: #e5e5e5;
}
.acf-field.container-settings-accordion > .acf-accordion-content {
  background-color: #dddddd;
}
.acf-field.column-settings-accordion > .acf-accordion-title, .acf-field.column-breakpoints-accordion > .acf-accordion-title {
  background-color: #ececec;
}
.acf-field.column-settings-accordion > .acf-accordion-content, .acf-field.column-breakpoints-accordion > .acf-accordion-content {
  background-color: #e5e5e5;
}
.acf-field.block-settings-accordion > .acf-accordion-title {
  background-color: #f4f4f4;
}
.acf-field.block-settings-accordion > .acf-accordion-content {
  background-color: #ececec;
}

.acf-flexible-content .layout[data-layout=section] {
  background-color: #ddd;
}
.acf-flexible-content .layout[data-layout=section] > .acf-fc-layout-handle {
  font-size: 1.6em;
}
.acf-flexible-content .layout[data-layout=container] {
  background-color: #e5e5e5;
}
.acf-flexible-content .layout[data-layout=container] > .acf-fc-layout-handle {
  font-size: 1.4em;
}
.acf-flexible-content .layout[data-layout=column] {
  background-color: #ececec;
}
.acf-flexible-content .layout[data-layout=column] > .acf-fc-layout-handle {
  font-size: 1.2em;
}
.acf-flexible-content .layout[data-layout=block_content], .acf-flexible-content .layout[data-layout=block_interactive], .acf-flexible-content .layout[data-layout=block_navigation] {
  background-color: #f4f4f4;
}
html .acf-fields > .acf-field {
  border-left-color: rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.2);
}
html .acf-fields > .acf-field[data-width] + .acf-field[data-width],
html .acf-fields > .acf-field .acf-flexible-content .layout,
html .acf-fields > .acf-field .acf-flexible-content .layout .acf-fc-layout-handle, html .acf-fields > .acf-field.acf-accordion .acf-accordion-content > .acf-fields {
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.2);
  border-left-color: rgba(0, 0, 0, 0.2);
}
html .acf-fields > .acf-field.sections-loop-field > .acf-input > .acf-flexible-content > .values > .layout {
  border-color: #a5a5a5;
}
html .acf-fields > .acf-field.sections-loop-field > .acf-input > .acf-flexible-content > .values > .layout > .acf-fc-layout-handle, html .acf-fields > .acf-field.sections-loop-field > .acf-input > .acf-flexible-content > .values > .layout > .acf-fields {
  background-color: #ddd;
}
html .acf-fields > .acf-field.sections-loop-field > .acf-input > .acf-flexible-content > .acf-actions {
  padding-top: 15px;
}
html .acf-fields > .acf-field.sections-loop-field > .acf-input > .acf-flexible-content > .acf-actions .button {
  font-size: 17px;
  line-height: 32px;
  height: 34px;
}
html .acf-fields > .acf-field.containers-loop-field > .acf-input > .acf-repeater > table {
  background: transparent;
  border-color: rgba(0, 0, 0, 0.2);
}
html .acf-fields > .acf-field.containers-loop-field > .acf-input > .acf-repeater > table > tbody > .acf-row > .acf-row-handle {
  background: #e5e5e5;
}
html .acf-fields > .acf-field.containers-loop-field > .acf-input > .acf-repeater > table > tbody > .acf-row > .acf-row-handle:hover {
  background: #ececec;
}
html .acf-fields > .acf-field.columns-loop-field {
  background-color: #e5e5e5;
}
html .acf-fields > .acf-field.columns-loop-field > .acf-input > .acf-repeater > table {
  background: transparent;
  border-color: rgba(0, 0, 0, 0.2);
}
html .acf-fields > .acf-field.columns-loop-field > .acf-input > .acf-repeater > table > tbody > .acf-row > .acf-row-handle {
  background: #ececec;
}
html .acf-fields > .acf-field.columns-loop-field > .acf-input > .acf-repeater > table > tbody > .acf-row > .acf-row-handle:hover {
  background: #fff;
}
html .acf-fields > .acf-field.blocks-loop-field {
  background-color: #f4f4f4;
}

.acf-field.hide-label > .acf-label {
  display: none;
}
.acf-field.page-builder-field > .acf-input > .acf-flexible-content > .values > .layout:hover {
  border-left-color: rgba(0, 0, 0, 0.5);
  border-right-color: rgba(0, 0, 0, 0.5);
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.5);
}
.acf-field.col-breakpoints .acf-fields .acf-fields .acf-label {
  display: none;
}
.acf-field .acf-field-5d3b16f0600a5 {
  transition: background-color 0.25s;
}
.acf-field .acf-field-5d3b16f0600a5 img {
  transition: box-shadow 0.25s;
  cursor: not-allowed;
}
.acf-field .acf-field-5d3b16f0600a5.coord-mode {
  background-color: #f7fcfe;
}
.acf-field .acf-field-5d3b16f0600a5.coord-mode img {
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
  cursor: crosshair;
}
.acf-field.layout-theme-files .acf-checkbox-list {
  display: flex;
  flex-wrap: wrap;
}
.acf-field.layout-theme-files .acf-checkbox-list li {
  display: flex;
  align-items: center;
  flex: 0 0 29%;
  margin: 0 0 0.5% 0.5%;
  background-color: #fff;
  padding: 1em;
}
.acf-field.layout-theme-files .acf-checkbox-list label {
  display: block;
}
.acf-field.layout-theme-files .acf-checkbox-list input[type=text] {
  margin: 0;
  font-size: 12px;
}
.acf-field.layout-theme-files .acf-checkbox-list .acf-add-checkbox {
  margin: 0;
}

#page-builder-toolbar {
  display: flex;
  float: right;
  justify-content: flex-end;
}

.toolbar-icon {
  margin-left: 10px;
}
.toolbar-icon i {
  margin-right: 10px;
}

#page-builder-modal-overlay {
  position: fixed;
  left: -9999px;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: left 0s linear 0.25s, opacity 0.25s;
  z-index: 9999;
}
#page-builder-modal-overlay.open {
  left: 0;
  opacity: 1;
  transition: left 0s, opacity 0.25s;
}

.page-builder-modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.page-builder-modal-body {
  padding: 0 1.5em 1em 1.5em;
}

.page-builder-modal-body-section {
  margin-bottom: 1em;
}

.page-builder-modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  border-top: 1px solid #ddd;
}

#template-modal-reload {
  display: none;
}

/*# sourceMappingURL=admin.css.map */
